body{
    background-color:#BAE5D5;
}

.cat{
    background-color: grey;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 70px 70px 0px 0px;
}

.head{
    background-color: grey;
    width:220px;
    height: 150px;
    position: relative;
    top:-150px;
    left:0px;
    border-radius: 70px;
}

.eye1, .eye2{
    background-color: #90D26D;
    width:38px;
    height: 35px;
    position: relative;
    border-radius: 60px 60px 60px 60px;
    animation: blink 7s step-end infinite both;
}

.eye1{
    top: -70px;
    left:50px;
}

.eye2{
    top: -105px;
    left:140px;
}

.iris1,
.iris2{
    background-color: black;
    width: 10px;
    height: 20px;
    position: relative;
    border-radius: 60px 60px 60px 60px;
    animation: blink 7s step-end infinite both;
}

.iris1{
    top: 10px;
    left: 12px;
}

.iris2{
    top: 10px;
    left: 12px;
}

.ear1, .ear2{
width: 0;
    height: 0;
    line-height: 0;
    border-bottom: 60px solid grey;
    position: relative;
}

.ear1{
    top:-40px;
    left: 0px;
    border-right: 20px solid transparent;
    border-left: 30px solid transparent;
    transform: rotate(-25deg);
}

.ear2{
    top: -100px;
    left:170px;
    border-right: 20px solid transparent;
    border-left: 30px solid transparent;
    transform: rotate(25deg);
}

.insideEar1, .insideEar2{
        width: 0;
        height: 0;
        line-height: 0;
        border-bottom:40px solid pink;
        position: relative;
    }

    .insideEar1 {
        top:10px;
        left:-15px;
        border-right: 5px solid transparent;
        border-left: 10px solid transparent;
        transform: rotate(5deg);
    }

    .insideEar2 {
        top: 5px;
        left: -8px;
        border-right: 5px solid transparent;
        border-left: 10px solid transparent;
        transform: rotate(-5deg);
    }

.nose{
    width: 0;
    height: 0;
    line-height: 0px;
    border-top: 15px solid pink;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position:relative;
    top: -90px;
    left: 95px;
    border-top-left-radius: 60% 40%;
    border-top-right-radius: 60% 40%;
}

.whisker1 {
    background-color: black;
    width: 60px;
    height: 2px;
    position:relative;
    top: -110px;
    left: 180px;
    transform: rotate(-25deg);
}

.whisker2 {
    background-color: black;
    width: 60px;
    height: 2px;
    position: relative;
    top: -90px;
    left: 180px;
}

.whisker3 {
    background-color: black;
    width: 60px;
    height: 2px;
    position: relative;
    top: -110px;
    left: -20px;
    transform: rotate(25deg);
}

.whisker4 {
    background-color: black;
    width: 60px;
    height: 2px;
    position: relative;
    left: -20px;
    top: -90px;
}

.whisker5 {
    background-color: black;
    width: 60px;
    height: 2px;
    position: relative;
    top: -70px;
    left: 180px;
    transform: rotate(25deg);
}

.whisker6 {
    background-color: black;
    width: 60px;
    height: 2px;
    position: relative;
    top: -70px;
    left:-20px;
    transform: rotate(-25deg);
}

.mouth1{
    width: 50px;
    height: 100px;
    border: solid 3px pink;
    border-color: transparent transparent pink transparent;
    border-radius: 10px 100px 100px 100%/100px;
    position: relative;
    top:-190px;
    left:60px;
}

.mouth2 {
    width: 50px;
    height: 100px;
    border: solid 3px pink;
    border-color: transparent transparent pink transparent;
    border-radius: 10px 100px 100px 100%/100px;
    position: relative;
    top: -295px;
    left: 105px;
    transform: scaleX(-1);
}

.leg1, .leg2{
    background-image: linear-gradient(180deg, white 0%,white 90%, grey 100%);
    width: 50px;
    height: 30px;
    position: relative;
    border-radius: 80px 80px 40px 40px;
}

.leg1{
    top: 30px;
    left:55px;
}

.leg2 {
    top: 0px;
    left: 120px;
}

.tail-container{
    position: inherit;
    left: 190px;
    top: 182px;
    transform: rotate(-20deg);
}

.tail{
    position: relative;
    background-color: grey;
    height: 30px;
    width: 40px;
    top: 0px;
    left: 10px;
    border-radius: 500%;
    animation: tail-swish 5s infinite cubic-bezier(.8, 0, .2, 1);
}

@keyframes blink {

    from,
    to,
    10%,
    25%,
    80% {
        transform: scaleY(1);
    }

    8%,
    23%,
    78% {
        transform: scaleY(0.1);
    }
}

@keyframes tail-swish {
    0% {
        transform: rotate(12deg);
    }

    10% {
        transform: rotate(12deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(12deg);
    }
}
